In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
state = pd.read_csv('datasets_737822_1290921_State_Region_corrected.csv')
state.head()

  State / Union territory (UT)  Area (km2)    Region  National Share (%)
0                    Rajasthan      342239  Northern               10.55
1               Madhya Pradesh      308350   Central                9.37
2                  Maharashtra      307713   Western                9.36
3                Uttar Pradesh      240928  Northern                7.33
4                      Gujarat      196024   Western                5.96

In [3]:
state.tail()

,State / Union territory (UT),Area (km2),Region,National Share (%)
29,Goa,3702,Western,0.110
30,Delhi,1483,Northern,0.040
31,Dadra and Nagar Haveli and Daman and Diu,603,Western,0.010
32,Puducherry,492,Southern,0.010
33,Chandigarh,114,Northern,0.003

In [5]:
state.dtypes

State / Union territory (UT)     object
Area (km2)                        int64
Region                           object
National Share (%)              float64
dtype: object

In [11]:
state['State / Union territory (UT)'].isnull().sum().sum()

0

In [13]:
state['Area (km2)'].isnull().sum().sum()

0

In [14]:
state['Region'].isnull().sum().sum()

0

In [15]:
state['National Share (%)'].isnull().sum().sum()

0

In [20]:
state.rename(columns = {'State / Union territory (UT)' : 'State' , 'Area (km2)' : 'Area' ,'National Share (%)' : 'National_share'} , inplace = True )
state.head()

            State    Area    Region  National_share
0       Rajasthan  342239  Northern           10.55
1  Madhya Pradesh  308350   Central            9.37
2     Maharashtra  307713   Western            9.36
3   Uttar Pradesh  240928  Northern            7.33
4         Gujarat  196024   Western            5.96

In [21]:
power = pd.read_csv('datasets_737822_1290921_file.csv')
power.head()

,Date,Region,Thermal Generation Actual (in MU),Thermal Generation Estimated (in MU),Nuclear Generation Actual (in MU),Nuclear Generation Estimated (in MU),Hydro Generation Actual (in MU),Hydro Generation Estimated (in MU)
0,2017-09-01,Northern,624.23,484.21,30.36,35.57,273.27,320.81
1,2017-09-01,Western,"1,106.89","1,024.33",25.17,3.81,72.00,21.53
2,2017-09-01,Southern,576.66,578.55,62.73,49.80,111.57,64.78
3,2017-09-01,Eastern,441.02,429.39,NaN,NaN,85.94,69.36
4,2017-09-01,NorthEastern,29.11,15.91,NaN,NaN,24.64,21.21

In [22]:
power['Thermal Generation Actual (in MU)'].fillna('0.0',inplace = True)

In [23]:
power['Thermal Generation Estimated (in MU)'].fillna('0.0',inplace = True)

In [24]:
power['Nuclear Generation Estimated (in MU)'].fillna('0.0',inplace = True)
power['Hydro Generation Estimated (in MU)'].fillna('0.0',inplace = True)
power['Nuclear Generation Actual (in MU)'].fillna('0.0',inplace = True)
power['Hydro Generation Actual (in MU)'].fillna('0.0',inplace = True)

In [34]:
power['Region'].value_counts()

Northern        927
Southern        927
Western         927
Eastern         927
NorthEastern    927
Name: Region, dtype: int64

In [35]:
state['Region'].value_counts()

Northern        10
Northeastern     8
Southern         6
Western          4
Eastern          4
Central          2
Name: Region, dtype: int64

In [37]:
df = pd.merge(power , state , how = 'left', on = 'Region' )
df

,Date,Region,Thermal Generation Actual (in MU),Thermal Generation Estimated (in MU),Nuclear Generation Actual (in MU),Nuclear Generation Estimated (in MU),Hydro Generation Actual (in MU),Hydro Generation Estimated (in MU),State,Area,National_share
0,2017-09-01,Northern,624.23,484.21,30.36,35.57,273.27,320.81,Rajasthan,342239.0,10.55
1,2017-09-01,Northern,624.23,484.21,30.36,35.57,273.27,320.81,Uttar Pradesh,240928.0,7.33
2,2017-09-01,Northern,624.23,484.21,30.36,35.57,273.27,320.81,Ladakh,59146.0,1.80
3,2017-09-01,Northern,624.23,484.21,30.36,35.57,273.27,320.81,Himachal Pradesh,55673.0,1.70
4,2017-09-01,Northern,624.23,484.21,30.36,35.57,273.27,320.81,Uttarakhand,53483.0,1.62
...,...,...,...,...,...,...,...,...,...,...,...
23170,2020-03-17,Eastern,498.78,575.93,0.0,0.0,30.34,31.46,Odisha,155707.0,4.73
23171,2020-03-17,Eastern,498.78,575.93,0.0,0.0,30.34,31.46,Bihar,94163.0,2.86
23172,2020-03-17,Eastern,498.78,575.93,0.0,0.0,30.34,31.46,West Bengal,88752.0,2.70
23173,2020-03-17,Eastern,498.78,575.93,0.0,0.0,30.34,31.46,Jharkhand,79714.0,2.42
23174,2020-03-17,NorthEastern,34.28,34.83,0.0,0.0,10.37,4.09,NaN,NaN,NaN

In [43]:
df.isnull().sum()

Date                                      0
Region                                    0
Thermal Generation Actual (in MU)         0
Thermal Generation Estimated (in MU)      0
Nuclear Generation Actual (in MU)         0
Nuclear Generation Estimated (in MU)      0
Hydro Generation Actual (in MU)           0
Hydro Generation Estimated (in MU)        0
State                                   927
Area                                    927
National_share                          927
dtype: int64

In [53]:
df.dropna(inplace =True)

In [54]:
df.isnull().sum()

Date                                    0
Region                                  0
Thermal Generation Actual (in MU)       0
Thermal Generation Estimated (in MU)    0
Nuclear Generation Actual (in MU)       0
Nuclear Generation Estimated (in MU)    0
Hydro Generation Actual (in MU)         0
Hydro Generation Estimated (in MU)      0
State                                   0
Area                                    0
National_share                          0
dtype: int64

In [56]:
df.shape

(22248, 11)

In [59]:
df.to_csv('Final_data.csv')